name: Publish to PyPI

on:
  push:
    branches:
      - main

jobs:
  pypi-publish:
    name: Build and publish Python distribution to PyPI
    runs-on: ubuntu-latest
    # This line ensures it only runs if the commit starts with 'RELEASE:'
    if: startsWith(github.event.head_commit.message, 'RELEASE:')
    
    permissions:
      id-token: write 
      contents: read

    environment:
      name: pypi
      url: https://pypi.org/p/fuzzylinguistics

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"

    - name: Install build dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build package
      run: python -m build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1